body {
  margin: 0;
  padding: 0;
}
.card-form-widget {
  margin-right: 1px;
  margin-top: 1px;
  overflow: hidden;
}
.input-box {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius:4px;
  font-size:1em;
  height:2.5em;
  border: 1px solid #b8bdc9;
}
.input-box:disabled {
  background:white;
}
.card-form-widget .input-box {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  padding: 9px 18px;
}
.input-btn {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #afafaf;
  margin-top: 3px;
  color: #585858;
  cursor: pointer;
}
.card-form-widget .input-btn {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  padding: 9px;
  border-radius: 3px;
}
#message {
  padding-left: 25px;
  font-size: 0.75em;
  margin: 8px 0;
  color: #585858;
}
.card-form-widget #message {
  font-size: 1em;
}
